<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel= "stylesheet" type="text/css" href= "styleshome.css"/>
	<script src='http://code.jquery.com/jquery-1.10.2.js' type='text/javascript'></script>
	<link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Londrina+Sketch' rel='stylesheet' type='text/css'>
	<script src='http://code.angularjs.org/1.1.5/angular.js' type='text/javascript'></script>
	<script src='app.js' type='text/javascript'></script>
	<script src='ChirpController.js' type='text/javascript'></script>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<link href='http://fonts.googleapis.com/css?family=Buenard' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>



</head>
<body ng-app='chirpApp'>
	<h1>#chirp</h1>
	<p>Trending Twitter Hashtag News</p>
	<div ng-controller= 'chirpController'class= "homeContainer">
		<!-- <section ng-model= 'trends.name'></section> -->
		<ul ng-repeat= "trend in trends" class= "trendingHashtags">
		<li class= "hash1">{{trend.name}} 
			<div ng-repeat= "result in trend.results">
				<a href= "{{result.link}}">{{result.title}}</a>
			</div>
		</li>
		</ul>
	</div>

</body>
</html>