html{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
	background: overflow-x: hidden;
	overflow-y: hidden;
	background: #3C3C34/*4C4C4B*/;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
	font-size: 13px;
	padding-top: 0;
	height: 100%;
	margin: 0;
	color: white;;
}
.trendingHashtags {
	list-style-type: none;
	display: inline-table;
	margin: 0 auto;
	float: left;
	font-size: 50px;
	font-family: 'Londrina Sketch', cursive;
	text-align: center;

}
ul {
	display: inline;
	text-align: center;
}
.hash1 {
	color: #5C995C;
	border: 2px solid #5C995C;
	text-align: center;


}
.hash2 {
	color: #7094FF;
	border: 2px solid #7094FF;
	text-align: center;

}

.hash3 {
	color: #D63333;
	border: 2px solid #D63333;
	text-align: center;

}
.hash4 {
	color: #CC7A29;
	border: 2px solid #CC7A29;
	text-align: center;

}